/****** Script for SelectTopNRows command from SSMS  ******/

SELECT t2.MPAC_Address
	,t2.MPAC_CityName
	,t2.MPAC_PostalCode
	,t2.MPAC_PrimarytructureCodeName
	,t2.MPAC_FloorArea
	,t2.MPAC_HeatType
	,t2.MPAC_Pool_Indoor
	,t2.MPAC_Pool_Outdoor
	,t2.MPAC_SaunaWhirlPool
FROM(
	SELECT *
	FROM (
		SELECT [MPACDataStoreID]
			  ,[MPAC_VersionID]
			  ,[MPAC_AddressID]
			  ,[MPAC_Address]
			  ,[MPAC_CityID] as CITY_ID
			  ,[MPAC_PostalCodeID] as PC_ID
			  ,[MPAC_StructureCodeID]
			  ,[MPAC_FloorArea]
			  ,[MPAC_Pool_Indoor]
			  ,[MPAC_Pool_Outdoor]
			  ,[MPAC_SaunaWhirlPool]
			  ,[MPAC_AirConditioning]
			  ,[MPAC_HeatTypeID] as HEAT_ID
			  ,[IsDuplicate]
		  FROM [KingstonHydro].[dbo].[MPAC_DataStore]
	  ) as t1
			INNER JOIN [dbo].[MPAC_HeatTypes] as t2 on t1.HEAT_ID = t2.MPAC_HeatTypeID
			INNER JOIN [dbo].[MPAC_Cities] as t3 on t1.CITY_ID = t3.MPAC_CityID
			INNER JOIN [dbo].[MPAC_PostalCodes] as t4 on t1.PC_ID = t4.MPAC_PostalCodeID
			INNER JOIN [dbo].[MPAC_PrimaryStructureCodes] as t5 on t1.MPAC_StructureCodeID = t5.MPAC_PrimaryStructureCode
) as t2